@keyframes popdown {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes popup {
    0% {
      transform: translateY(150px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes hideshow {
    0% { opacity: 0; }
    10% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
}

// Logo Animations

.logo-svg-top {
    animation: popdown 4s ease 1;
}

.logo-svg-bot {
    animation: popup 4s ease 1;
}

.right-col {
    animation: hideshow 10s ease 1;
}

.logo-svg-mid {
    animation: hideshow 5s ease 1;
}

// Navbar Animations
.home > .navbar {
    animation: hideshow 5s ease 1;
}