// Default Styling
@import './Vars.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

html, body {
    background: $background;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: $shade-5;

    strong {
        font-weight: 600;
        color: $foreground;
    }
}

#__next {
    display: flex;
}

.page {
    margin: 0 auto;
    width: 100%;
}

.content {
    margin: auto;
}

.mobile-only {
    display: none !important;
}

.hide {
    display: none !important;
}

.no-select {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media screen and (max-width: $mobile-width) {
    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }

    .content-container {
        margin-top: 10vh;
    }
}

// Load Stylings
@import './Animations.scss';
@import './Availability.scss';
@import './Button.scss';
@import './Content.scss';
@import './Home.scss';
@import './Footer.scss';
@import './Page.scss';
@import './SkillBar.scss';
@import './Socials.scss';
@import './Scroll.scss';
@import './Navbar.scss';
@import './Logos.scss';
@import './Spacer.scss';
@import './WorkItem.scss';
@import './hamburgers/_sass/hamburgers/hamburgers.scss';
// @import './scss/hover.scss';