.content-container {
    h1:first-of-type {
        text-align: left;
        font-size: 5rem;
    }
}

// Container Spacing
@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

// Mobile
@media screen and (max-width: $mobile-width) {
    .content-container {
        h1:first-of-type {
            font-size: 3.5rem;
        }
    }
}

// -- About Page --
.headshot-box {
    text-align: center;
    background: $foreground;
}

.about-headshot {
    width: 35vh;
}