#myFooter {
    background-color: $foreground;
    color: $background;
    // padding-top: 5px;
}

#myFooter .footer-copyright {
    background-color: $foreground;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: $background;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: $background;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2.logo {
    margin-top: 1em;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: $background;
}

#myFooter a {
    color: $background;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: $primary-logo;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: $shade-4;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .github:hover {
    color: $foreground;
}

#myFooter .instagram:hover {
    color: #ef1a1a;
}

#myFooter .linkedin:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: $primary-logo;
    border-radius: 25px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 35px;
}

#myFooter button {
    a {
        color: $background;

        i {
            margin-right: 10px;
        }
    }

    a:hover {
        color: $shade-2;
    }
}

@media screen and (max-width: $mobile-width) {
    #myFooter {
        text-align: center;
    }

    #myFooter .row {
        margin-bottom: 60px;
    }

    #myFooter h2.logo {
        margin-top: 0;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

// html{
//     height: 100%;
// }

// body{
//     display: flex;
//     display: -webkit-flex;
//     flex-direction: column;
//     -webkit-flex-direction: column;
//     height: 100%;
// }

// .content{
//    flex: 1 0 auto;
//    -webkit-flex: 1 0 auto;
//    min-height: 200px;
// }

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}