.row {
    margin-top: 10vh;
}

.right-col {
    margin-top: 13vh;
    text-align: center;

    h1 {
        font-family: 'Sacramento', serif;
        font-size: 3.5rem;
        line-height: 2em;
    }

    .home-resume-btn {
        background: transparent;
        border: solid 2px $foreground;
        padding: 7px 13px 7px 13px;
        margin-top: 2.5vh;

        i {
            padding-right: 7px;
        }
    }
}

.left-col {
    .home-logo {
        // height: 500px;
        height: 100%;
        // width: 500px;
        width: 100%;
    }
}

.home-soc {
    justify-content: space-between;
    bottom: 25px;
    position: fixed;
}

@media screen and (max-width: $mobile-width) {
    .row,
    .left-col,
    .right-col {
        margin: 0 auto;
    }

    .right-col {
        h1 {
            line-height: 1.3em;
        }
    }

    .left-col {
        .home-logo {
            height: 300px;
            width: 300px;
        }
    }

    .home-soc {
        display: none !important;
    }
}