.logo-svg {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.home .waves-svg {
    bottom: 0;
    position: fixed;
}

@media screen and (max-width: $mobile-width) {
    .home .logo-svg {
        height: 100%;
        width: 100%;
    }
}