/* Style the header: fixed position (always stay at the top) */
.progress-header {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background-color: #f1f1f1;
    margin-top: 74px;
}
  
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 2px;
    background: $background;
}
  
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 2px;
    background: $primary-logo;
    width: 0%;
}

@media screen and (max-width: $mobile-width) {
    .progress-header {
        margin-top: 62px;
    }
}