// Define all Sass variables here
$primary-logo:  #22BFA0;
$primary-light: #FFFFFF;
$primary-dark:  #282C34;
$background:    #FFFFFF;
$social-icon:   #000000;
$sidebar-light: #E8EBF2;
$sidebar-dark:  #333333;

// Default CSS
body {
    // margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}